@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
:root {
    --cor-de-fundo: #f7b3f7;
    --verde: #56006b;
    --branco: #FFFFFF;
    --botao-ativo: hwb(281 7% 37%);
    --botao-inativo: rgba(96, 10, 153, 0.5);
    --texto-fundo: rgba(94, 20, 155, 0.329);
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Seymour One', sans-serif;
}
